/* === === === */
/* CSS RESET */
/* === === === */

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* work with images easier */
img,
picture {
  max-width: 100%;
  display: block;
  border: none;
}

/* list styles */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* make forms easier */
input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

/* remove animations for whom they turn it off #accessibility */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CSS Reset end */

/* === === === */
/* FONTS */
/* === === === */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"); */

/* font-family: 'Poppins', sans-serif; */

* {
  font-family: "Poppins", sans-serif;
}

/* === === === */
/* CUSTOM PROPERTIES */
/* === === === */

:root {
  --clr-dark: #242d38;
  --clr-light: #efd592;
}

body {
  background-color: var(--clr-dark);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 60px;
  padding: 0 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--clr-dark);
  border-bottom: 2px solid var(--clr-light);
  color: var(--clr-light);
}

nav h1 {
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
}

@media screen and (max-width: 620px) {
  nav h1 {
    font-size: 16px;
  }
}

nav .menu-icon {
  font-size: 24px;
}

.flex-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px 20px;
}

.movie-card {
  max-width: 395px;
  min-width: 340px;
  min-height: 405px;
  max-height: fit-content;
  padding: 40px;
  position: relative;

  background-color: var(--clr-light);

  font-weight: 400;
  color: var(--clr-dark);
}

.movie-card .index {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--clr-light);
  background-color: var(--clr-dark);
  color: var(--clr-light);

  font-size: 24px;
}

.title {
  font-size: 36px;
  font-weight: 400;
}

.year,
.description {
  font-size: 18px;
}

.year {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--clr-dark);
}

.description {
  padding-bottom: 10px;
}

.movie-card button {
  width: calc(100% - 80px);
  height: 60px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--clr-dark);
  border: 1px solid var(--clr-light);

  color: var(--clr-light);
  font-size: 14px;
}

.movie-card button:hover {
  background-color: var(--clr-light);
  border: 1px solid var(--clr-dark);
  color: var(--clr-dark);
}
